{% extends "layout.html" %}
{%block content%}

<style>
    body {
        background-color: #E9E5EF;
        font-family: 'Koh Santepheap', cursive;
    }

    .titulo {
        background-color: #E9E5EF;
        margin: 5%;

        display: flex;
        justify-content: center;
    }
</style>


<div class="titulo">
    <h1> SELECCION DE VOTOS </h1>
</div>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'devolutionExito' %}
<div class="alert alert-success alert-dismissible fade show" role="alert"
    style="width: 32%; font-size: 93%; margin-top: -2%;">
    <i class="uil uil-check-circle" style="color: green; font-size: 110%;"></i><strong> ¡Éxito!</strong> {{ message
    }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
        style="margin-top: -0.9%;"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}


<div class="text-center">
    <a href="/boleta_all_voto" class="btn btn-dark"> LISTA COMPLETA </a>
    <a href="/boletaPersonalizada" class="btn btn-dark"> PERSONALIZADO </a>
    <a href="/votos_nulos" class="btn btn-dark"> NULO </a>
    <a href="/votos_blanco" class="btn btn-dark"> EN BLANCO </a>

</div>




{%endblock%}